.root__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--tg-theme-secondary-bg-color, white);
}
